/*DESKTOP FIRST*/
:root {
    --blue: #1E038A;
    --white: #faf0e6;
    --sec_light: #07D3C7;
    --sec_dark: #13B1D8;
    --red: #F01F1F;
  }

/*Extralarge devices (xl) & General*/
/* ------------------------- */
/*---------- base -----------*/
/* ------------------------- */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    /* font-family: 'Nunito Sans', sans-serif; */
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 22;
    color:darkslategrey;
    background-color: #e0e0e0;
}
h1{
    font-size: 4rem;
}
h2,h3,h4{
    font-family: 'Nunito Sans', sans-serif;
}
.fa-2x{
    font-size: 1.5rem;
}
.bg-red{
    background-color: var(--red);
}
.bg-blue{
    background-color: var(--blue);
    color: var(--white)
}
.text-blue{
    color:var(--blue) !important;
}
.text-secblue-light{
    color: var(--sec_light) !important
}
.text-secblue-dark{
    color: var(--sec_dark) !important;
}
.text-red{
    color: rgb(255, 1, 1) !important;
}
.rounded{
    border-radius: 2rem !important;
}
.page-wrapper{
    min-height:80%;
}
.header{
    margin-bottom: 5rem;
    background: rgb(21,0,107);
    background: -moz-linear-gradient(130deg, rgba(21,0,107,1) 0%, rgba(21,0,107,1) 25%, rgba(1,201,248,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(130deg, rgba(21,0,107,1) 0%, rgba(21,0,107,1) 25%, rgba(1,201,248,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(130deg, rgba(21,0,107,1) 0%, rgba(21,0,107,1) 25%, rgba(1,201,248,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15006b",endColorstr="#00d4ff",GradientType=1);
}
section{
    margin-bottom: 5rem;
}
.navbar{
    border-bottom: 3px solid #07D3C7;
    margin-bottom: .3rem;
}
.navbar::before{
    content: "";
    border-bottom: 3px solid #fff;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 4px;
    pointer-events: none;
}
.navbar-brand{
    background-color: #15006b;
    padding: .3rem .7rem;
    margin-left: 3vw !important;
    margin-bottom: -1rem;
    z-index: 10;
}
.logo-bg{
    background-color: #fff;
}
.logo-bg img{
    margin-top: -.2rem;
    margin-bottom: -.2rem;
    width: 110px;
}
.nav-link{
    color: #fff !important;
    font-weight: 600;
}

/*--------------------------*/
/*------- Home page --------*/
/*--------------------------*/
.home{
    height: 33rem;
    color:#fff;
}
.home-text{
    margin: auto 0;
}
.hero-left{
    z-index: 2;
}
.intro{
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px 30px #15006b,
                1px 1px 5px #15006b,
                -1px -1px 30px #15006b,
                -1px -1px 5px #15006b;
}
.typewriter{
    font-family: 'Concert One', cursive; 
    text-shadow: 1px 1px 30px #15006b,
                1px 1px 5px #15006b,
                -1px -1px 30px #15006b,
                -1px -1px 5px #15006b;
}
.slant-r{
    border-radius: .5rem;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
}
.slant-r >*{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
}
.home-right-col{
    position: relative;
}
.home-right{
    position: absolute;
    bottom: 3rem;
    right: 1rem; 
}
.outer{
    padding: .6rem;
}
.inner{
    border-radius: 15rem 0 10rem 0;
    overflow:hidden;
}
.inner-img{
    height: 100%;
    width: 100%;
}
.home-right .overlay{
    background: linear-gradient(130.7deg, rgba(14, 147, 180, 0.03) 2.98%, rgba(21,0,107,0.8) 102.98%);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    border-radius: 15rem 0 10rem 0;
} 
.contact-bar{
    background-color:#e0e0e0;
    border: rgb(121, 119, 119) solid .1rem;
    border-left: none;
    border-right: none;
}
.bar-row{
    display: flex;
    justify-content: space-around;
}
.bar-col{
    display: grid;
}
.bar-item{
    display: inline-block;
    border:rgb(121, 119, 119) solid .1rem;
    border-radius: .5rem;
    padding: .2rem 1rem;
    margin: auto;
}
.bar-item h6, .bar-item h6 a{
    margin-bottom: 0;
    font-weight: 900;
    font-size: .8rem;
}
.bar-item a{
    font-weight: bold;
    font-size: .8rem;
    color:darkslategrey;
    text-decoration: none;
    line-height: 7px;
    margin: auto;
}
.heading{
    font-weight:850;
}
.item-title{
    font-weight: 750;
}
.services-section{
    background-color: aliceblue;
    padding: 2rem 0rem;  
}
.service-item{
    padding: auto 2rem;
    margin: 5% auto;
}
.service{
    background-color: #1E038A;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px rgb(179, 183, 224);
}
.service:hover{
    box-shadow: 3px 3px 6px 6px rgb(179, 183, 224);
    transform: scale(1.01);
}
.service-text{
    padding: 2rem 1rem;
    height: 23rem;
}
.service-img{
    height:100%;
    width:100%;
}
.why-item svg{
    width: 76px;
    height: 76px;
}
.why-img{
    transform: scaleX(-1);
    margin-bottom: 5rem;
}
.client-logo-wrapper{
    display: flex;
    padding: 4rem;
    align-content: space-around;
}
.client-logo{
    width: 2%;
    height: 1%;
    filter: grayscale(100%);
    margin: 3rem 2rem;
    flex: 1 1 0;
    min-width: 0;  
}
/*-------- footer section -------*/
footer{
    background-color: #15006b;
    bottom: 0;
    color:var(--white);
    margin-top: 5rem;
}
.footer-logo{
    margin-left: -20px;
    opacity: 0.6;
}
.footer-body a{
    font-weight: 500;
    font-size: .9rem;
    color:var(--white);
    text-decoration: none;
    line-height: 2.5rem;   
}
.footer-icons i{
    margin-right: 1rem;
}
.footer-contact{
    margin-left: -5px;
}
.newsletter  form input,
.newsletter  form input:hover{
    color: var(--white);
    font-weight: 600;
    background-color: var(--sec_dark);
}
.footer-bottom{
    background-color: var(--sec_dark);
    /* position:absolute; */
    bottom: 0;
    width: 100%;
}

/* -----------------------*/
/* ----- about page ------*/
/* -----------------------*/
.about p{
    text-align: justify;
}
.about img{
    float: right;
    margin: 0 0 1rem 2rem;
}
.neumorphic-pressed {
    box-shadow: inset 7px 7px 10px 0 rgba(0, 0, 0, 0.2),
      inset -7px -7px 10px 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;
    padding: 3rem 1.3rem;
    margin: 2rem auto;
}
.resume ul{
    list-style-type: none;
}
.team-members{
    margin-top: 2.5rem;
}
.member{
    padding: 1.2rem auto;
    position: relative;
}
.member:hover .member-div

{
    box-shadow: 3px 3px 6px 6px rgb(179, 183, 224);
    transform: scale(1.01);
}
.member-div{
    position: relative;
    border-radius: 2rem;
    background-color: #fff;
    margin-left: .3rem;
    margin-bottom: 1rem;
    z-index: 1;
    padding-top: 1px;
}
.shadow{
    width:40%;
    height:50%;
    border-radius: 1rem;
    background-color: #07D3C7;
    opacity: 0.7;
    position:absolute;
    bottom: 0;
    left:0;
}
.member-image{
    background-color: #e0e0e0;
    width: 40%;
    height: 8rem;
    margin: 0 auto;
    border-radius: 10px;
}
/* ------------------------------ */
/*------- Contact us page --------*/
/* ------------------------------ */
.hero-wrapper{
    position: relative;
    background-image: url(images/luca-bravo-bg.jpg);
    background-size: cover;
    background-position: 50%;
    height: 60vh;
}
.hero{
    z-index: 2;
    position: relative;
    color: var(--white);
    display: flex;
    height: 100%;
}
.hero-content{
    margin: auto;
    min-width: 0;
}
.hero-content a{
    text-decoration: none;
    margin: 2rem;
    color:var(--white);
    font-weight: bold;
}
.d-flex{
    display: flex;
}
.d-flex *{
    min-width: 0;
}
.contact-icon{
    padding: 1.5rem;
    border: 2px solid #faf0e6;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.boder-blue{
    border-color: var(--blue);
}
.hero-overlay {
    background-color: var(--blue);
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 60vh;
    width: 100%;
}
.contact-form{
    border: 1px solid var(--blue);
    padding: 2rem;
    border-radius: 10px;
}
.contact-form .form-control{
    background-color: #eff5f5;
}


@media(max-width: 1200px){
    /*large devices (lg)*/
}
    
@media(max-width: 992px){
/*medium devices (md)*/
    .navbar-collapse{
        text-align: right;
        margin-right: 5%;
    }
    footer{
        text-align: justify;
    }
    .client-logo-wrapper{
        padding: 2rem;
    }
    .client-logo{
        margin: 3rem 1.5rem; 
    }
}
    
@media(max-width: 768px){
/*small devices (sm)*/
    .logo-bg img{
        width: 80px;
    }
    .home-right{
        right: 2rem;
    }
    .inner,.home-right .overlay{
        border-radius: 12rem 0 10rem 0;
    }
    .bar-text{
        display: none;
    }
    .why-item svg{
        width: 50px;
        height: 50px;
    }
    .client-logo-wrapper{
        padding: 1.5rem;
    }
    .client-logo{
        margin: 3rem 1rem; 
    }
    .fs-6{
        font-size: 1rem !important;
    }

    /* -------------------------- */
    /*-------- About page --------*/
    /* -------------------------- */
    .about img{
        width: 50%;
    }
    .row-img{
        width: 60%;
        height:60%;
    }

}
    
@media(max-width: 567px){
/*extrasmall devices (xs)*/
    .intro{
        font-size: 1.2rem;
        font-weight: 1000;
    }
    .inner,.home-right .overlay{
        border-radius: 5rem 0 5rem 0;
    }
    .inner-img{
        height: 140%;
        width: 140%;
    }
    .client-logo-wrapper{
        padding: .8rem;
    }
    .client-logo{
        margin: 3rem .7rem; 
    }
    /* ---- footer bottom -----*/
    .fs-6{
        font-size: .9rem !important;
    }

    /* -------------------------- */
    /*-------- About page --------*/
    /* -------------------------- */
    .about{
        margin: auto 1.2rem;
    }
    .about img{
        width: 100%;
    }
    .resume{
        margin: auto 1rem;
    }

    /* ------------------------------ */
    /*------- Contact us page --------*/
    /* ------------------------------ */

    .hero-content h1{
        font-size: 3rem;
    }
    .hero-content a{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .fa-3x{
        font-size: 2rem;
    }
    .d-flex{
        flex-direction: column;
    }
    .contact-icon{
        padding: .8rem;
        margin-bottom: 1rem;
    }

    
}
@media(max-width: 370px){
    /*mini devices (xs)*/
        .intro{
            font-size: .9rem;
        }
        .client-logo-wrapper{
            padding: .3rem;
        }
        .client-logo{
            margin: 3rem .5rem; 
        }
    }