/*DESKTOP FIRST*/

/*Extralarge devices (xl) & General*/
html{}
body{
    font-family: 'Nunito';
    font-size: 22;
}

.header{
    background: linear-gradient(to bottom right, #1E038A, #07D3C7);
}
.nav-link{
    color: #fff !important;
    font-weight: 600;
}
.nav-lines{
    height: 15rem;
    color: red;
}
.home{
    height: 30rem;
}

@media(max-width: 1200px){
    /*large devices (lg)*/
    }
    
    @media(max-width: 992px){
    /*medium devices (md)*/
    }
    
    @media(max-width: 768px){
    /*small devices (sm)*/
    }
    
    @media(max-width: 567px){
    /*extrasmall devices (xs)*/
    }